.header {
}

#hbase {
  position: fixed;
  left: -10px;
  top: -45px;
  background-color: #5A7A79;
  height: 150px;
  width: 110%;
  overflow: hidden;
  transition: height 0.3s linear 0s, padding 0.3s, linear 0s;
}

#htitle1 {
  font-family: futura, sans-serif;
  font-size: 25px;
  position: relative;
  top: 20px;
  left: 10px;
  color: white;
}

#hline1 {
  height: 3px;
  position: fixed;
  width: 110%;
  background-color: #526F6E;
  top: 55px;
}

.headerButtons {
  background-color: #5A7A79;
  border-color: #526F6E;
  font-family: futura, sans-serif;
  font-color: black;
  font-size: 15px;
  position: fixed;
  top: 55px;
  border-width: 3px;
  height: 50px;
  width: 90px;
}

#hhome {
  left: 0px;
}

#hUtilitraian {
  left: 90px;
}

#hDCT {
  left: 180px;
}

#hEgal {
  left: 270px;
}

#hOp {
  left: 360px;
}

button:hover {
  background-color: #3C887E;
  color: white;
  border-color: white;
}

#content {
  margin-top: 230px;
}

#borderImage1 {
  position: fixed;
  top: 59px;
  height: 91.4%;
  left: -120px;
  z-index: -1;
}

#borderImage2 {
  position: fixed;
  top: 58px;
  height: 91.6%;
  right: -47px;
  z-index: -1;
}

#intro {
  top: -85px;
}

#heading1 {
  top: -90px;
}

#heading2 {
  top: -50px;
}

#Utilitarian {
  top: -55px;
}

#heading3 {
  top: -15px;
}

#DCT {
  top: -20px;
}

#heading4 {
  top: 20px;
}

#Egalitarian {
  top: 15px;
}

#heading5 {
  top: 55px;
}

#personalOpinions {
  top: 50px;
}

.bodyText {
  width: 780px;
  font-family: futura, sans-serif;
  position: relative;
  left: 300px;
  z-index: -1;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #CEB5A7;
}
