#header {
  width: 100%;
  height: 75px;
  /* background-color: #FE6D73; coral pink */
  background-color: #0B132B;
  position: fixed;
  top: 0px;
}

#main {
  padding: 0px;
  margin: 0px;
  background-color: #FEF9EF; /* off white */
}

html{
  scroll-behavior: smooth;
}


#headerTitle {
  position: fixed;
  top: -13px;
  left: 10px;
}

#headerButton1 {
  left: 210px;
}

#headerButton2{
  left: 412px;
}

#headerButton3 {
  left: 674px;
}

#headerButton4 {
  left: 876px;
}

.buttons {
  font-size: 20px;
  font-family: futura, sans-serif;
  text-decoration: none;
  /* color: #FFCB77;  */
  color: white;
  height: 63px;
  position: fixed;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 63px;
  border-style: solid;
  margin-top: 3px;
  /* border-color: #FE5D62;
  background-color: #FE7A80;  */
}

a:hover {
  background-color: #17C3B2; /* bright blue */
}

.headings {
  font-size: 30px;
  font-family: futura, sans-serif;
  /* color: #202C39; dark grey */
  color: white;
}

#empHist {
  position: absolute;
  top: 75px;
  height: 300px;
  width: 100%;
  background-color: #227C9D;
}

#QandE {
  position: absolute;
  top: 375px;
  width: 100%;
  height: 300px;
  background-color: #EB5E28;
}

#GameDev {
  position: absolute;
  top: 675px;
  width: 100%;
  height: 300px;
  background-color: #FFCB77;
}

#WebDev {
  position: absolute;
  top: 975px;
  width: 100%;
  height: 300px;
  background-color: #17C3B2;
}

#mover {
  position: absolute;
  width: 0px;
  height: 0px;
  top: 0px;
}

.text {
  font-family: futura, sans-serif;
  font-size: 20px;
  color: white;
  text-align: justify;
  text-justify: inter-word;
}

#empHistTitle {
  position: inherit;
  font-size: 40px;
  top: -20px;
  left: 20px;
}

#empHistContent {
  position: inherit;
  top: 60px;
  left: 20px;
  margin-right: 168px;
}

.icons {
  width: 128px;
  height: 128px;
  position: inherit;
  top: 86px;
}

#icon1 {
  right: 20px;
}

#icon2 {
  left: 20px;
}

#icon3 {
  right: 20px;
}

#icon4 {
  left: 20px;
}

#QandETitle {
  position: inherit;
  font-size: 40px;
  top: -20px;
  right: 20px;
}

#QandEContent {
  position: inherit;
  top: 60px;
  right: 20px;
  margin-left: 168px;
}

#GameDevTitle {
  position: inherit;
  font-size: 40px;
  top: -20px;
  left: 20px;
}

#GameDevContent {
  position: inherit;
  top: 60px;
  left: 20px;
  margin-right: 168px;
}

#WebDevTitle {
  position: inherit;
  font-size: 40px;
  top: -20px;
  right: 20px;
}

#WebDevContent {
  position: inherit;
  top: 60px;
  right: 20px;
  margin-left: 168px;
}

.siteLinks {
  font-family: futura, sans-serif;
  color: white;
  text-decoration: none;
  font-size: 20px;
  position: inherit;
  top: 225px;
}

#link1 {
  left: 40%;
}

#link2 {
  right: 40%;
}
